[submodule ".vim/plugins/syntastic"]
	path = .vim/plugins/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/plugins/vim-surround"]
	path = .vim/plugins/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/plugins/restore_view.vim"]
	path = .vim/plugins/restore_view.vim
	url = git@github.com:vim-scripts/restore_view.vim.git
[submodule ".vim/plugins/vim-flake8"]
	path = .vim/plugins/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/plugins/vim-go"]
	path = .vim/plugins/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/plugins/typescript-vim"]
	path = .vim/plugins/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
